<div class="day {{ day.in_month ? 'active' }} col-lg-1 col-md-1 col-sm-12"
{% if day.in_month %}title="{{ day.ephemeris.zodiac_name }} - {{ day.ephemeris.ka_name }}"{% endif %}
data-day-id="{% if day.event is defined and day.event is not null %}{{ day.event.date }}{% endif %}"
>
  <span class="k-{{ day.in_month ? day.ephemeris.ka_class : 'none'}}">
    {{ day.in_month ? day['day'] : '' }}
  </span>
</div>