{% extends "layout.twig" %}

{% block body %}
  <h2>{{ monthName }} {{ year }}</h2>
  <div id="links">
    <a href="{{ url('calendarMonthYear', {'month':prevMonth, 'year': (month == 1 ? year - 1 : year)}) }}">&lharu; {{ prevMonthName }}</a>
    <span> | </span>
    <a href="{{ url('calendarMonthYear', {'month':nextMonth, 'year': (month == 12 ? year + 1 : year)}) }}">{{ nextMonthName }} &rhard;</a>
  </div>

  <div id="calendar">
    <div id="calendar-content" class="container-fluid">
      {% for week in weeks %}
        {% include "calendar/_week.twig" with {'week' : week } %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
