{% extends "layout.twig" %}

{% block headAssets %}
  <link rel="stylesheet" type="text/css" href="/vendor/css/simplemde.min.css"/>
{% endblock %}


{% block body %}
  <h2>{{ monthName }} {{ year }}</h2>
  <div id="links">
    <a href="{{ url('calendarMonthYear', {'month':prevMonth, 'year': (month == 1 ? year - 1 : year)}) }}">&lharu; {{ prevMonthName }}</a>
    <span> | </span>
    <a href="{{ url('calendarMonthYear', {'month':nextMonth, 'year': (month == 12 ? year + 1 : year)}) }}">{{ nextMonthName }} &rhard;</a>
  </div>

  <div id="calendar">
    <div id="calendar-content" class="container-fluid">
      {% for week in weeks %}
        {% include "calendar/_week.twig" with {'week' : week } %}
      {% endfor %}
    </div>
  </div>
  
  <div id="calendar-form" class="row">
    <form method="post" action="" class="col-lg-12">
      {{ form_widget(form) }}
    </form>
  </div>
{% endblock %}

{% block bottomAssets %}
  <script type="text/javascript" src="/vendor/js/simplemde.min.js"></script>
  <script type="text/javascript" src="/js/calendar.js"></script>
{% endblock %}
